- @stylesheets << 'admin/assets'
- include_javascript 'admin/assets'
- include_javascript 'admin/dragdrop'

#assets-container
  #asset-tabs
    - render_region :asset_tabs do |asset_tabs|
      - if @page && !@page.new_record? 
        - asset_tabs.attachment_tab do
          %a.asset-tab{ :href => "#page-attachments", :id => "tab_page-attachments" }
            = t("paperclipped.attached_assets")
        - asset_tabs.upload_tab do
          %a.asset-tab{ :href => "#upload-assets", :id => "tab_upload-assets" }
            = t("paperclipped.upload")
        - asset_tabs.bucket_tab do
          %a.asset-tab{ :href => "#bucket", :id => "tab_bucket" }
            = t("paperclipped.bucket")
        - asset_tabs.search_tab do  
          %a.asset-tab{ :href => "#search-assets" }
            = t("paperclipped.search")
      - else
        - asset_tabs.bucket_tab do
          %a.asset-tab.here{ :href => "#" }
            = t("paperclipped.bucket")

  #assets 
    #bucket.pane
      - render_region :bucket_pane do |bucket_pane|
        - bucket_pane.bucket_notes do      
          %p
            %span.note
              != t("paperclipped.bucket_note")
            %span#clear-bucket
              = link_to_remote(t('paperclipped.clear_bucket'), {:url => clear_bucket_url} )
        - bucket_pane.bucket do 
          = render :partial => "admin/assets/bucket"
        - bucket_pane.bucket_bottom do 
          .clear

      
    - if @page && !@page.new_record? 
      - render_region :asset_panes do |asset_panes|

        - asset_panes.page_attachments do 
          #page-attachments.pane
            %p
              %span.note 
                != t("paperclipped.asset_note")
            %ul#attachments
              = render :partial => "admin/assets/page_assets" 
            .clear
      
        - asset_panes.upload do
          #upload-assets.pane
            %p
              %span.note
                != t("paperclipped.asset_upload_note")
            = render :partial => "admin/assets/upload_to_page"
            .clear
          
        - asset_panes.search do
          #search-assets.pane
            - form_tag do
              %p
                %label.note{ :for => 'search' }
                  = t("paperclipped.search_assets")
                %input{ :type => "hidden", :name => "search", :value => @page.id }
                %input{ :type => "search", :id => "search", :name => "search" }
                = submit_tag t("paperclipped.search")
            #search-results
            .clear
            = observe_field 'search',  :frequency => 1, :update => 'search-results', :url =>  admin_assets_path(:asset_page => @page), :method => 'get', :with => "'search=' + escape(value)"