= render_region :form_top
- render_region :form do |form|
  - form.edit_title do
    %p.title
      %label{ :for => "asset_title" }
        = t("paperclipped.title")
      = f.text_field :title, :class => 'textbox', :maxlength => 100 
  - form.edit_metadata do
    .drawer
      .drawer_contents#attributes
        %table.fieldset
          %tr
            %th.label
              %label{ :for => "asset_caption" }
                = t("paperclipped.caption")
            %td.field
              = f.text_field :caption, :class => 'textbox', :maxlength => 255 
          = render_region :extended_metadata, :locals => {:f => f}
      .drawer_handle
        %a.toggle{:href=>'#attributes', :rel=>"toggle[attributes]", :class=>"#{(meta_errors? ? 'less' : 'more')}"}= meta_label
