- include_stylesheet 'admin/assets'
.outset
  - render_region :top do |top|
    - top.filters do
      .asset_filters
        - form_tag(admin_assets_path,:id => 'filesearchform', :method => 'get') do
          %input{ :type => "search", :id => "search", :name => "search" , :value => params[:search] }
          = submit_tag t("paperclipped.search")   
          = observe_field 'search',  :frequency => 1, :update => 'assets_table', :url =>  { :controller => 'assets', :action=> 'index' }, :method => 'get', :with => "'search=' + escape(value)"

          == #{t('paperclipped.types_to_find')}:
          %span
            = link_to t("paperclipped.images"), "#"
          %span
            = link_to t("paperclipped.others"), "#"
          %span
            = link_to t("paperclipped.audio"), "#"
          %span
            = link_to t("paperclipped.movies"), "#"
    
          #type_boxes{ :style => "display: none" }
            = check_box_tag 'filter[audio]',  '1', false, :id => 'audio-check' 
            = check_box_tag 'filter[image]',  '1', false, :id => 'images-check' 
            = check_box_tag 'filter[other]',  '1', false, :id => 'others-check' 
            = check_box_tag 'filter[movie]',  '1', false, :id => 'movies-check'
        - if false #current_user.admin? # turned off for now, this might be too dangerous to reveal
          .regenerator
            = link_to t('paperclipped.regenerate_all_thumbnails') , refresh_admin_assets_path, :confirm => 'Beware that this will take a while and consume considerable resources on your server. Are you sure you want to continue?'
  #assets_table
    = render :partial => 'asset_table', :locals => { :assets => @assets }

= render :partial => 'assets_container'
    
- render_region :bottom do |bottom|
  #actions
    = pagination_for @assets, :depaginate => false
    %ul
      %li= link_to((image('plus', :alt => '') + ' ' + t('paperclipped.new_asset')), new_admin_asset_path)
