- include_stylesheet 'admin/assets'
.outset
  - render_region :top do |top|
    - top.filters do
      .asset_filters
        - form_tag(admin_assets_path,:id => 'filesearchform', :method => 'get') do
          %input{ :type => "search", :id => "search", :name => "search" , :value => params[:search] }
          = submit_tag t("paperclipped.search")   
          = observe_field 'search',  :frequency => 1, :update => 'actions', :url =>  { :controller => 'assets', :action=> 'index', :repaginate => '1' }, :method => 'get', :with => "'search=' + escape(value)"
          = observe_field 'search',  :frequency => 1, :update => 'assets_table', :url =>  { :controller => 'assets', :action=> 'index' }, :method => 'get', :with => "'search=' + escape(value)"

          == #{t('paperclipped.types_to_find')}:
          - ['images', 'others', 'audio', 'movies'].each do |filter|
            %span
              - options = (params[:filter].present? and params[:filter][filter.singularize].present? and params[:filter][filter.singularize] == '1') ? {:class => :pressed} : nil
              = link_to t("paperclipped.#{filter}"), "#", options
    
          #type_boxes{ :style => "display: none" }
            - ['images', 'others', 'audio', 'movies'].each do |filter|
              = check_box_tag "filter[#{filter.singularize}]",  '1', (params[:filter].present? and params[:filter][filter.singularize].present? and params[:filter][filter.singularize] == '1'), :id => "#{filter}-check"

        - if false #current_user.admin? # turned off for now, this might be too dangerous to reveal
          .regenerator
            = link_to t('paperclipped.regenerate_all_thumbnails') , refresh_admin_assets_path, :confirm => 'Beware that this will take a while and consume considerable resources on your server. Are you sure you want to continue?'
  #assets_table
    = render :partial => 'asset_table', :locals => { :assets => @assets }

= render :partial => 'assets_container'
    
- render_region :bottom do |bottom|
  = render :partial => 'actions'
