- include_stylesheet 'admin/assets' 
= render_region :top 

- render_region :main do |main|
  - main.edit_header do
    %h1= t("paperclipped.new_asset")
    %p 
      != t("paperclipped.asset_upload_note")

  - main.edit_form do  
    - form_for :asset, :url => admin_assets_path, :html => { :method => "post", :multipart => true } do |f|
      .form-area
        = render :partial => "form", :locals => { :f => f }

        %p.upload
          %label.upload
            = t("paperclipped.choose_upload")
          = f.file_field :asset, :class => "", :style => "width: 100%"
     
        %p.buttons
          = save_model_button(@asset)
          = save_model_and_continue_editing_button(@asset)
          = t("or")
          = link_to t("cancel"), admin_assets_path

  - main.edit_regenerate do
    &nbsp;
