- @stylesheets << 'admin/assets'
- include_javascript 'admin/assets'
- include_javascript 'dragdrop'


#asset-tabs
  - if @page && !@page.new_record? 
    %a.asset-tab.here{ :href => "#bucket", :onclick => "asset_tabs(this); return false;"  } Bucket
    %a.asset-tab{ :href => "#page-attachments", :onclick => "asset_tabs(this); return false;"  } Attached Assets
    %a.asset-tab{ :href => "#upload-assets", :onclick => "asset_tabs(this); return false;" } Upload
    // %a.asset-tab{ :href => "#search-assets", :onclick => "asset_tabs(this); return false;"  } Search
  - else
    %a.asset-tab.here{ :href => "#" } Bucket
    
#assets      
  #bucket.pane
    %p
      %span.note Items here can be inserted by simply dragging them to the text area. 
      %span#clear-bucket
        = link_to_remote('Clear Bucket', {:url => clear_bucket_url} )
  
    = render :partial => "assets/bucket"
    %div{ :style => "clear:both;" }
    
  - if @page && !@page.new_record? 
  
    #page-attachments.pane{ :style => "display:none;" }
      %p
        %span.note Assets associated with this page.
        %span#reorder
          %a{ :href => "#", :onclick => "reorder_attachments(#{@page.id}, '#{form_authenticity_token}'); return false;" } Reorder
        %span#done{ :style => 'display:none' }
          %a{ :href => "#", :onclick => "done_reordering(); return false;" } Done reordering
      %ul#attachments
        = render :partial => "assets/page_assets" 
      
      %div{ :style => "clear:both;" }
    #upload-assets.pane{ :style => "display:none;" }
      %p
        %span.note Assets uploaded here will be automatically associated with this page.
      = render :partial => "assets/upload_to_page"
    #search-assets.pane{ :style => "display:none;" }
      %p
        %span.note Search for assets 
        %input{ :type => "text", :id => "search", :name => "search" }
        
      #search-results
      = observe_field 'search',  :frequency => 1, :update => 'search-results', :url =>  assets_path(:asset_page => @page), :method => 'get', :with => "'search=' + escape(value)"
  
  

  