%table#assets{ :class => "index", :cellpadding => "0", :cellspacing => "0", :border => "0"}
  %thead
    %tr
      %th.asset Image
      %th.asset-title Title
      %th.modify{ :colspan =>"2"} Modify

  %tbody
    - unless @assets.empty?
      - for asset in @assets 
        %tr.node.level-1
          %td.asset
            - asset_id = "asset_#{asset.id.to_s}"
            = link_to image_tag(asset.asset.url(:square)), edit_asset_url(:id => asset), :class => 'icon'
          %td.asset-title
            = link_to asset.title, edit_asset_url(:id => asset.id) 
            &nbsp;
            %span.info
              = asset.caption
          %td.add-to-bucket
            = link_to_remote(image_tag('admin/add-to-bucket.png', :alt => 'Add to Bucket'), {:url => {:action => 'add_bucket', :id => asset}})
          %td.remove
            = link_to image_tag('admin/remove.png', :alt => 'Remove Asset'), :controller => 'assets', :action => 'remove', :id => asset
    - else
      %tr
        %td.note{ :colspan => "4" } 
          No Assets


%script{ :type => "text/javascript"}
  // <! [CDATA[
  new RuledTable('assets')
  //]