%ul#bucket_list
  - if session[:bucket]
    - session[:bucket].each do |url, info| 
      - dom_id = "asset_#{info[:id]}"
      %li{ :id => dom_id }
        .asset
          = link_to image_tag(info[:thumbnail]), url, :onclick => "return false;", :title => info[:title], :class => "bucket_link"
        .info{ :id => "#{dom_id}_info" }
          = link_to "edit", edit_asset_url(info[:id]), :id => "edit_asset"
          - if @page && !@page.new_record?
            
            = link_to_remote "add", :html => { :id => "add_asset" }, :url => attach_page_asset_url(:asset => info[:id], :page => @page.id), |
                                             :after => "Element.highlight('assets');" |

  - else
    %li
      %p.note Your bucket is empty
