- include_stylesheet 'admin/assets'
= render_region :top 

- render_region :preamble do |preamble|
  - preamble.header do
    %h1 Assets

  - preamble.explanation do
    %p 
      Assets and images can be uploaded and then attached or inserted into pages, snippets and layouts. 
      Click on a asset name below to edit it or click <code>Remove</code> to delete it.

  - preamble.new_button do
    %p= link_to image_tag('assets/new-asset.png', :alt => 'New Asset'), new_asset_path

  - preamble.filters do
    %p
      - form_tag(assets_url,:id => 'filesearchform', :method => 'get') do
        %span
          = link_to "Images", "#"
        %span
          = link_to "Others", "#"
        %span
          = link_to "Audio", "#"
        %span
          = link_to "Movies", "#"
    
        #type_boxes{ :style => "display: none" }
          = check_box_tag 'filter[audio]',  '1', false, :id => 'audio-check' 
          = check_box_tag 'filter[image]',  '1', false, :id => 'images-check' 
          = check_box_tag 'filter[other]',  '1', false, :id => 'others-check' 
          = check_box_tag 'filter[movie]',  '1', false, :id => 'movies-check'

        %label Search
        %input{ :type => "text", :id => "search", :name => "search" }
        = observe_field 'search',  :frequency => 1, :update => 'assets_table', :url =>  { :controller => 'assets', :action=> 'index' }, :method => 'get', :with => "'search=' + escape(value)"

#assets_table
  %table{ :class => "index", :cellpadding => "0", :cellspacing => "0", :border => "0"}
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.thumbnail_header do
            %th.asset Image
          - thead.title_header do
            %th.asset-title Title
          - thead.content_type_header do
            %th.content_type Type
          - thead.modify_header do
            %th.modify{ :colspan =>"2"} Modify

    %tbody
      - unless @assets.empty?
        - for asset in @assets 
          - render_region :tbody do |tbody|
            %tr.node.level-1
              - tbody.thumbnail_cell do
                %td.asset
                  - asset_id = "asset_#{asset.id.to_s}"
                  = link_to image_tag(asset.thumbnail(:icon)), edit_asset_url(:id => asset), :class => 'icon'
              - tbody.title_cell do
                %td.asset-title
                  = link_to asset.title, edit_asset_url(:id => asset.id) 
                  &nbsp;
                  %span.caption
                    = asset.caption
              - tbody.content_type_cell do
                %td.content_type
                  = asset.asset_content_type
              - tbody.bucket_cell do
                %td.add-to-bucket
                  = link_to_remote(image_tag('assets/add-to-bucket.png', :alt => 'Add to Bucket'), :url => add_bucket_url(:id => asset))
              - tbody.remove_cell do
                %td.remove
                  = link_to image_tag('admin/remove.png', :alt => 'Remove Asset'), remove_asset_url(:id => asset)
      - else
        %tr
          %td.note{ :colspan => "5" } 
            No Assets

  - render_region :pagination do
    = will_paginate @assets

  %script{ :type => "text/javascript"}
    // <! [CDATA[
    new RuledTable('assets')
    //]  
      
- render_region :assets_container do
  = render :partial => 'assets_container'
  
- render_region :bottom do |bottom|
  - bottom.regenerate do
    - if current_user.admin?
      %p 
        You can regenerate all thumbnails here. Beware that this will take a while and consume considerable resources on your server. 
      - form_tag refresh_assets_path do
        %input.button{ :type => "submit", :value => "Regenerate" }